@font-face {
    font-family: Prosto-One;
    src: url(../others/fonts/ProstoOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../others/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Lalezar;
    src: url(../others/fonts/Lalezar-Regular.ttf);
}

:root {
    --font-color-green: #009955;
    --font-size1: clamp(3.125rem, -0.1995rem + 10.6383vw, 9.375rem);
    --font-size2: 20px;
}

body{
    background-color: whitesmoke;
    padding-top: 100px !important;
    margin: 0 !important;
    font-family: roboto; 
    -webkit-font-smoothing: antialiased; 
    width: 100%;
}


.navbar-nav .nav-item .nav-link{
    color: var(--font-color-green);
    font-family: Lalezar;
    margin: 0 15%;
    width: 100%;
}

.navbar-nav .nav-item {
    margin-right: 50px; /* Adjust the value as needed */
}

/* Optional: To remove margin from the last item */
.navbar-nav .nav-item:last-child {
    margin-right: 30;
}

.navbar{
    background-color: rgb(255, 255, 255)!important;
    position: fixed;
    margin: 0;
    top: 0;
    transition: transform 0.3s;
    transform: translateY(0); /* Initial position */
    padding: 5% 0;
}

.navbar--hidden {
    transform: translateY(-100%); /* Move up to hide */
}


.navbar-brand{
    color: var(--font-color-green) !important;
    font-family: Prosto-One;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:after{
    color: var(--font-color-green);
    cursor: pointer;
}

body h5{
    font-family: Montserrat-Bold !important;
}

.all-out-seson-content{
    background-color: white;
}

/* Add a class for the hidden state */
.navbar--hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

/* Optionally, you can add some styles for the visible state */
.navbar--hidden:hover {
    transform: translateY(0);
}

.text{
    margin: 50% 0;
}

h2{
    font-family:  Montserrat-Bold;
}

.navbar-toggler{
    background-color: #009955!important;
}

.collapse ul li {
    position: relative;
    margin: 0; /* Adjust this value as needed */
}

.collapse ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--font-color-green);
    bottom: 0;
    left: 6px;
    transition: width 0.3s ease; /* Add transition effect */
}

.collapse ul li a:hover::after {
    width: 110%;
}

.title-logo{
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 153, 85, 0.53) 0%, rgba(0, 153, 85, 0) 100%) !important;
}

.title{
    font-family: Prosto-One;
    line-height: 0.8;
    font-weight: 400;
    font-size: 8rem;    
    margin-top: -50px!important;
    color: var(--font-color-green);
}

.taglines{
    color: black;
    font-family: Prosto-One;
    font-size: 1.40rem; 
}

.introduction-title{
    font-family: Prosto-One;
    color: var(--font-color-green);
    font-size: 40px;
}

.carousel.slide{
    background-color: white;
}

.holder{
    margin-top: 200px;
    overflow: hidden;
}

.content.box{
    background-color: white;
    padding: 0 50px !important;
}

.waterscreen-image {
    width: 100%; /* Adjust the width as needed */
    max-width: none; /* Remove the max-width constraint if needed */
}
/*Home page -> content -> content-title*/
.home-title{
    color: var(--font-color-green);
    font-family: Prosto-One;
    font-size: 60px;
}

/*Home page -> content -> right and left text*/
.content{
    color: var(--font-color-green);
}


.teamImage{
    width: 94%;
}

.row-1, .row-2{
    margin: 0 !important;
}





.slider{
    overflow: hidden;
    margin-bottom: 20%;
    padding-bottom: 10%;
    width: 100%;
    background-color: white;
}

.flex {
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-direction: row;  
    flex-direction: row; 
    -webkit-justify-content: flex-start; 
    justify-content: flex-start;
    width: 100%;
}

.slider-wrapper div {
    position: relative;
}

.slider-wrapper {
    margin: 10% 0 10% 15%;
}

.slide-image {
    height: 24vw;
    display: flex;
}

.slide-image img {
    width: 100%; 
    cursor: pointer;
    top: 10%;
}

.slide-content {
    width: 80vw; 
    color: #009955; 
    margin: 0 10%; /* Increase the right margin as needed */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.slide-title {
    font-family: Prosto-One;
    font-size: 1.2vw; 
    font-weight: 400; 
    letter-spacing: 0.1vw; 
    line-height: 1.55vw; 
    padding-bottom: 1.8vw;
}

.slide-text {
    font-family: Lalezar;
    font-size: 0.80vw; 
    line-height: 1.2vw; 
    opacity: 0.8; 
    padding-bottom: 4vw;
}


.arrows{
    width: 3.5vw; 
    margin-top: -5.8vw; 
    margin-left: 72vw; 
    position: relative;
}

.arrow {
    display: inline-block; 
    position: absolute; 
    width: 1.2vw; 
    height: 1.2vw; 
    background: transparent; 
    text-indent: -9999px; 
    border-top: 0.15vw solid #009955; 
    border-left: 0.15vw solid #009955; 
    transition: all .1s ease-in-out; 
    text-decoration: none; 
    color: transparent;
}

.arrow:hover {
    border-color: #0A8ACB; 
    border-width: 0.25vw;
}

.arrow:before {
    display: block; 
    height: 200%; 
    width: 200%; 
    margin-left: -50%; 
    margin-top: -50%; 
    content: ""; 
    transform: rotate(45deg);
}

.arrow.prev {
    transform: rotate(-45deg); 
    left: 0;
}

.arrow.next {
    transform: rotate(135deg); 
    right: 0;
}

#aboutContent1, #aboutContent2, #aboutContent3, #aboutContent4, #homeNav{
    display: none;
}


.hahaha{
    padding: none !important;
}


footer{
    background-color: rgba(79, 64, 64, 1);
    color: white;
    margin: 0;
    width: 100%;
}

.icons img{
    width: 40px;
    margin: 0 2%;
}

footer a{
    text-decoration: none;
    color: white;
    opacity: 80%;
}

footer a:hover{
    opacity: 100%;
}

.boyband h1{
    font-family: Prosto-One;
}

.footer-title, footer h4, .footer-subtitle{
    font-family: Montserrat-Bold;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (max-width: 248px) {
    .navbar-brand.fs-2 {
        font-size: 14px; /* Adjust the font size as needed */
    }
}


@media (max-width: 295px) {
    #title-button .title-image {
        display: none; /* Hide the logo */
    }
}


@media (max-width: 419px){
    #title-button{
        font-size: 20px !important;
    }

   #title-button span{
        display: none;
    }

    .navbar-toggler {
        font-size: 10px !important; 
    }
}


@media (min-width: 420px) and (max-width: 480px){
     #title-button{
        font-size: 23px !important;
    }

    #title-button span{
        font-size: 12px !important;
    }

    .navbar-toggler {
        font-size: 1rem; /* Adjust the font size as needed */
    }
}




/* Extra Small Devices*/
@media (max-width: 575px){
    body{
        margin-top: 110px !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    .title-and-tagline{
        text-align: center;
    }

    .navbar a img{
        width: 40px !important;
        height: 30px !important;
    }

    .title{
        font-size: clamp(0.5rem, -0.1071rem + 19.4286vw, 6.875rem);
    }

    .taglines{
        margin-top: 5%;
        font-size: clamp(0.1875rem, 0.0863rem + 3.2381vw, 1.25rem);
    }

    .name h5{
        font-size: 25px;
        margin-top: 0 !important;
        padding: 0 !important;
    }

    footer{
        text-align: center;
        margin-right: 0 !important;
    }

    .footer-title{
        margin-top: 50px !important;
    }

    .hahaha img,
    .holder img {
        padding: 15% !important; /* Adjust the margin value as needed */
        margin-bottom: 0 !important;
    }

    .holder img {
        margin: 10px; /* Adjust the margin value as needed */
    }

    .holder h5{
        margin-top: 0!important;
    }

    .picture-and-name:last-child{
        margin-bottom: 100px;
    }

    #team h5{
        font-size: clamp(0.3125rem, 0.2232rem + 2.8571vw, 1.25rem) !important;
    }

    .row-1, .row-2{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .slide{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        width: 100%;
    }

    .slide-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70vw;
        margin: 0;
    }

    .slide-image{
        display: flex;
        justify-content: center;
    }

    .slide-title{
        text-align: center;
    }
}

/* Small Devices */
@media (min-width: 576px) and (max-width: 767px){
    body{
        margin-top: 110px!important;
    }

    .title{

    }

    .navbar a img{
        width: 45px !important;
        height: 35px !important;
    }

    .taglines{
        margin-top: 5%;
    }

    .text{
        padding: 0 90px!important;
        margin: 0;
    }

    footer{
        text-align: center;
    }

    .footer-title{
        margin-top: 50px !important;
    }

    .slide-content{
        margin: 0 10%;
        padding: 0;
    }

    .slide-image{
        top: 10%;
    }
}



@media (max-width: 767px){
    nav{
        display: flex;
        align-items: center;
    }


    .introduction-title{
        font-size: clamp(0.5rem, 0.3605rem + 4.463vw, 2.5rem);
    }

    .home-title{
        font-size: clamp(0.625rem, 0.4725rem + 4.8815vw, 2.8125rem);
    }

    .content.box h2{
        font-size: clamp(0.375rem, 0.2791rem + 3.0683vw, 1.75rem);
    }

    footer p{
        font-size: clamp(0.25rem, 0.2021rem + 1.5342vw, 0.9375rem);
    }

    .our-mission p{
        padding: 0 30px!important;
    }

    .boyband h1{
        font-size: clamp(0.5rem, 0.4041rem + 3.0683vw, 1.875rem);
    }

    .footer-title, .our-mission-title{
        font-size: clamp(0.375rem, 0.314rem + 1.9526vw, 1.25rem);
    }

    .footer-subtitle{
        font-size: clamp(0.3125rem, 0.2689rem + 1.3947vw, 0.9375rem);
    }
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 991px){
    body{
        margin-top: 110px!important;
    }

    .title{
    }

    .navbar a img{
        width: 45px !important;
        height: 35px !important;
    }

    .taglines{
        margin-top: 5%;
    }

    .slide-content{
        margin: 0 10%;
        padding: 0;
    }

    .slide-image{
        top: 10%;
    }

}


/* Large Devices */
@media (min-width: 992px) and (max-width: 1199px){
    .slide-content{
        margin: 0 10% !important;
        padding: 0 !important;
    }

    .slide-image{
        top: 10% Imp !important;
    }

}

/* Extra Large Devices*/
@media (min-width: 1200px) and (max-width: 1399px){
    .slide-content{
        margin: 0 10%;
        padding: 0;
    }

    .slide-image{
        top: 10%;
    }

}


/* 2 Extra Large Devices */
@media (min-width: 1400px){
    .title{
        font-size: 150px;
    }
    
    .taglines{
        font-size: 25px;
    }
}


